{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}
<h1>Your Cart</h1>
<div class="row">
    <ul class="list-group cart">
      <li class="list-group-item cart-item">
        <div class="pet-details">
          <img src="PET_IMAGE">
          <div class="pet-name">Pet Name</div>
        </div>
        <div>
          <div class="pet-price">$00</div>
        </div>
      </li>
    </ul>
</div>
<div class="row cart-total-row">
  <div>Total: </div><div class="cart-total">$TOTAL</div>
</div>
<div class="row cart-total-row buttons-row">
  <a class="btn btn-secondary empty-button" href="URL_TO_EMPTY_CART">Empty</a>
</div>
{% endblock %}