{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}
<h1>NAME_OF_PET</h1>
    <div class="row">
        <div class="col-6">
          <div class="card mt-3">
            <img src="URL_FOR_PET_IMAGE" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Pet Description goes here</h5>
              <h5 class="card-title">Pet price goes here</h5>
              <a href="URL_TO_ADD_PET_TO_CART" class="btn btn-primary btn-block">Add to Cart</a>
            </div>
          </div>
        </div>


{% endblock %}